<ion-toolbar color="primary">
  <ion-title>
    <span style="margin-left: 8px; font-weight: 600;">MiEmpresa</span>
  </ion-title>

  <ion-buttons slot="end">
    <ion-button>
      <ion-icon slot="icon-only" name="search-outline"></ion-icon>
    </ion-button>
    <ion-button>
      <ion-icon slot="icon-only" name="notifications-outline"></ion-icon>
    </ion-button>
    <ion-button>
      <ion-avatar slot="icon-only" style="width: 32px; height: 32px;">
        <img src="assets/user-avatar.png" />
      </ion-avatar>
    </ion-button>
  </ion-buttons>

</ion-toolbar>